extends ../templates/template.pug
block append config
   - titlePage = "Productos"
   - dropdownMenu = "Mechanical";
   - 
      dataPage = {
         description: {
            title: "Redacción Mecánica 2D Profesional",
            text: "ZWCAD Mechanical para fabricación proporciona abundantes herramientas como generador de ejes, dimensión de tolerancia, símbolo de textura de superficie, globo y lista de materiales y piezas estándares para el dibujo mecánico en 2D.",
            img: "Mechanical-1.png"
         },
         biContainer:{
            title: "",
            products: {
               first:{
                  title: "Anotación Inteligente",
                  data:[{
                        name: "Dimensión Poderosa",
                        text: "Dimensión Poderosa facilita el dimensionamiento con cuadros de diálogo abreviados que controlan y expanden solo las variables que son relevantes para la fabricación, así como integran la tolerancia y la información de la lista de ajuste.",
                        img: "Mechanical-3.png",
                        },{
                        name: "Múltiples Dimensiones",
                        text: "Con Múltiples Dimensiones, usted puede crear múltiples dimensiones con una entrada mínima y ordenada espacial apropiada, elementos paralelos o simétricos.",
                        img: "Mechanical-4.png",
                        },{
                        name: "Detectar la superposición de dimensiones y determinar la distancia adecuada",
                        text: "Las dimensiones superpuestas se pueden espaciar automáticamente de manera apropiada. Se determina la distancia adecuada desde el objeto que se está dimensionando, haciendo que las dimensiones lineales se vean ordenadas y claras.",
                        img: "Mechanical-5.png",
                        },{
                        name: "Diseño Rápido con Símbolos Mecánicos",
                        text: "Los símbolos mecánicos, que incluyen símbolos de textura de superficie, identificadores de referencia y objetivos, conicidad, orificio central y símbolosde soldadura, ahorran mucho tiempo y mejoran la precisión del diseño.",
                        img: "Mechanical_6-1.png",
                        },
                     ],
                  },
               second:{
                  title: "Globo Inteligente y BOM",
                  data:[{
                        name: "Generar Globos y BOM Fácilmente",
                        text: "Con ZWCAD Mechanical, usted puede dibujar, alinear y renumerar globos basados en estándares fácilmente. Solo se necesita un paso para crear una lista de materiales. Además, reconoce automáticamente las partes estándares y las resume en BOM.",
                        img: "Mechanical-6.png",
                        },{
                        name: "Globo Asociativo y BOM",
                        text: "Cada cambio en el globo se actualizaría a la lista de materiales, asegurándose de que los datos sean siempre correctos y estén actualizados.",
                        img: "Mechanical-7.png",
                        },
                     ],
                  },
               thrid:{
                  title: "Entorno de Dibujo Inteligente",
                  data:[{
                        name: "Soporte de estándares empresariales e internacionales",
                        text: "ZWCAD Mechanical admite entornos de dibujo ISO, ANSI, DIN, JIS y GB, y también proporciona una manera fácil de personalizar los estándares de la empresa.",
                        img: "Mechanical-9.png",
                        },{
                        name: "Gestión y mapeado de capas",
                        text: "Cada entidad mecánica, como borde, dimensión, símbolo, etc., se colocaría en la capa predeterminada con color y tipo de línea predeterminados. Con el mapeado de capas, la entidad mecánica se puede colocar en una capa personalizada para que coincida con las prácticas de la empresa.",
                        img: "Mechanical-10.png",
                        },{
                        name: "Múltiples fronteras y escalado adaptativo",
                        text: "ZWCAD Mechanical admite el dibujo de múltiples bordes con diferentes escalas, y el tamaño de los objetos de las anotaciones se puede cambiar de acuerdo con la escala del borde.",
                        img: "Mechanical-11.png",
                        },{
                        name: "Super Edit",
                        text: "La reeditación es fácil, haga doble clic en los objetos y luego la configuración en el cuadro de diálogo cambiará automáticamente.",
                        img: "Mechanical-12.png",
                        },
                     ],
               },
               four:{
                  title: "Partes Mecánicas y Generador",
                  data:[{
                        name: "Biblioteca de Piezas",
                        text: "La biblioteca de piezas ZWCAD contiene tornillos, tuercas, arandelas, pasadores, remaches, resortes, cojinetes, etc. Le ahorra horas de trabajo al tomar piezas directamente de la biblioteca.",
                        img: "Mechanical-13.png",
                        },{
                        name: "Ejes y Engranajes",
                        text: "Puede crear ejes y engranajes al ingresar los parámetros geométricos, lo que acelera en gran medida todo el proceso de diseño.",
                        img: "Mechanical-14.png",
                        },
                     ],
               },
               five:{
                  title: "Herramientas de Dibujo Extendidas para Fabricación",
                  data:[{
                        name: "Líneas de Construcción",
                        text: "El programa incluye un total de 32 opciones para crear líneas de construcción y 7 opciones para crear círculos de construcción. Las líneas de construcción se pueden usar como referencia para crear otros objetosy facilitar el dibujo.",
                        img: "Mechanical-15.png",
                        },{
                        name: "Línea Central Avanzada",
                        text: "Usted puede agregar una línea central a un círculo o rectángulo simplemente seleccionando objetos. Las líneas centrales se pueden dibujar como una sola entidad o entidades múltiples.",
                        img: "Mechanical-16.png",
                        },{
                        name: "Herramientas de Detalles Reutilizables",
                        text: "Genere la vista de detalle con unos pocos clics,y se puede actualizar cuando se realiza un cambio en la geometría.",
                        img: "Mechanical-17.png",
                        },{
                        name: "Dibujar Muescas de Forma Rápida y Precisa",
                        text: "La muesca técnica es un segmento esencial en el proceso de diseño mecánico, ZWCAD Mechanical ofrece una variedad de características de construcción de la estructura del proceso, que incluyen surcos de grietas, relieves de ejes y rectificadores de orificios.",
                        img: "Mechanical-18.png",
                        },
                     ],
               },
            }
            
         }
      }

block append content
   +headPage("mechanical","ZWCAD Mechanical 2020","Diseño Sencillo para Resultado Sofisticado")

block append description
   - const { description } = dataPage;
   .grey.lighten-2
      .container.text-center
         .row
            .col-12.py-3
               h1.open-sans-600 #{description.title}
               h4.open-sans-300 #{description.text}
            .col-12
               img(src=`./img/${description.img}`, alt=`${description.title}`).img-fluid
         .row.white
            .col-12
               .text-center.py-3
                  h4.h4 Fácil de usar y alta compatibilidad con DWG
                  img(src="./img/Mechanical-2.png", alt="").img-fluid.my-4
                  h5 Basado en su familiar ZWCAD, alta compatibilidad con DWG
               
      

block append bicontainer
   - const { products } = dataPage.biContainer;
   - const { first, second, thrid, four, five } = products;
   .grey.lighten-1
      .container
         .row
            .text-white.text-center.py-3
               h1= first.title
         +products(first.data)               

         .row
            .text-white.text-center.py-3
               h2.h1= second.title 
         +products(second.data)

   .grey.darken-3.text-white
      .container
         .row
            .text-white.text-center.py-3
               h2.h1= thrid.title 
         +products(thrid.data)

   .white
      .container
         .row
            .text-center.py-3
               h2.h1= four.title
         +products(four.data)

   .grey.lighten-1
      .container
         .row
            .text-center.py-3
               h2.h1= five.title
         +products(five.data)

   +solicitarTrial("Mechanical")